* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*  common css */
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #005FAC;
    background-color: white;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
}

/*banner section style start */
header {
    background-image: url('./assets/images/banner/banner3.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-content {
    text-align: right;
    padding-right: 230px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 24px 0px 32px;
}