* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*  common css */
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 95, 172);
    background-color: white;
    border: none;
    padding: 13px 18px;
    border-radius: 5px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 95, 172);
    background-color: white;
    border: none;
    padding: 13px 18px;
    border-radius: 5px;
}

.max-width {
    width: 1071px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

/*banner section style start */
header {
    background-image: url('./assets/images/banner/banner3.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-content {
    text-align: right;
    padding-right: 230px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 24px 0px 32px;
}

/* previous year style */
.previous-year {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 87px;
    margin: 130px 0px;
}

.previous-left {
    width: 50%;
}

.previous-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 17px;
}

ul {
    list-style: none;
}

ul li {
    margin: 4px 0px;
    display: flex;
    align-items: center;
}

ul li img {
    width: 30px;
}

/*new year checklist */
.checklist-year {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 87px;
    margin: 130px 0px;
}

.checklist-left {
    width: 50%;
}

.checklist-right {
    width: 50%;
}

ul {
    list-style: none;
}

ul li {
    margin: 4px 0px;
    display: flex;
    align-items: center;
}

ul li img {
    width: 30px;
}


/* plan section */
.plan-section {
    margin: 130px 0px;
}

.plan-section .section-title {
    text-align: center;
}

.plan-items {
    display: flex;
    gap: 86px;
    margin-top: 50px;
}

.plan-item-title {
    color: #0f0e0e;
    font-size: 20px;
    margin: 24px 0px 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 18px;
    color: #737272;
}

.item {
    width: 21%;
    text-align: center;
    /*box-shadow: 2px 2px 8px #ddd;
    padding: 35px 11px;
    border-radius: 5px;*/
}

/*positive mindset section*/
.positive-mindset-section {
    background-image: url('./assets/images/watch.png'), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius: 8px;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 50vh;
    margin-bottom: 130px;
}

.mindset-content {
    padding-left: 64px;
}

.mindset-content .section-title {
    color: white;
}

/*footer section */
.footer-bg {
    background: #151414;
    ;
}

.footer-container {
    display: flex;
    gap: 331px;
    padding: 105px 0px;
}

.footer-left-content {
    width: 50%;
}

.footer-left-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 17px;
}

.footer-left-content h3 {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 24px 0px;
}

.footer-left-content img {
    width: 45px;
    height: 45px;
}

.footer-left-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.footer-right-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

input[type="email"] {
    margin: 24px 0px 17px;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    padding: 20px 22px;
    border: 0.5px solid #FFFFFF;
    background-color: #151414;

}

.subscribe {
    color: #F15B22;
}